* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
header{
  background: rgb(17, 17, 17);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 10px;
  background: rgb(17, 17, 17);
  z-index: 1000;
}

.header__iconSearch {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__iconSearch:focus {
  outline: none;
  border: 1px solid #fff;
}

.header__input {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  height: 10px;
  width: 200px;
  left: 40px;
  padding: 12px 10px;
  margin-left: 10px;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  font-size: 20px;
}

.header__addSearch {
  visibility: visible;
  transition: 0.3s;
}

.fa-search {
  color: #fff;
  font-size: 25px;
  transition: 0.2s;
}

.fa-search:hover {
  /* transform: scale(1.1); */
  color: rgb(148, 27, 27);
}

.header__img {
  visibility: visible;
  max-height: 40px;
}

.header__imgHidden {
  visibility: hidden;
}

.header__burger-btn {
  border: 1px solid transparent;
  background: transparent;
  padding: 1em;
  cursor: pointer;
}

.header__burger-btn:focus {
  outline: none;
  border: 1px solid #fff;
  border-radius: 8px;
}

.header__burger-btn__box {
  position: relative;
  height: 20px;
  width: 30px;
}

.header__burger-btn__bars,
.header__burger-btn__bars::before,
.header__burger-btn__bars::after {
  position: absolute;
  right: 0;
  content: "";
  height: 3px;
  background-color: #fff;
  transition: width 0.3s;
}

.header__burger-btn__bars {
  width: 100%;
}

.header__burger-btn__bars::before {
  top: 20px;
  width: 30%;
  transition-delay: 0.1s;
}

.header__burger-btn__bars::after {
  top: 10px;
  width: 60%;
}

.header__burger-btn:hover .header__burger-btn__bars,
.header__burger-btn:hover .header__burger-btn__bars::after,
.header__burger-btn:hover .header__burger-btn__bars::before {
  width: 100%;
  background: rgb(148, 27, 27);
}

.sectionOne__img {
  width: 100%;
  height: 100%;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgb(17, 17, 17);
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.showNav {
  transform: translateX(0);
}

.nav__item {
  position: relative;
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.nav__item::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: transform 0.3s;
  background: rgb(148, 27, 27);
}

.nav__item:hover::before {
  transform: scaleY(1);
}

.sectionTwo{
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.sectionTwo__header{
  font-size: 60px;
  padding: 20px 20px;
  font-weight: bold;
}

.sectionTwo__header p{
  text-transform: uppercase;
  text-align: center;
}

.sectionText{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin: 20px auto;
}

.sectionText__text{
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.text{
  padding: 20px 40px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.sectionThree{
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  padding: 10px 20px;
}

.sectionThree__list{
  margin: 20px 20px;
  padding: 20px 0;
  list-style: none;
  width: 100%;
}

.sectionThree__item{
  position: relative;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  border-top: 2px solid red;
  width: 100%;
}

.sectionThree__item:nth-last-child(1){
  border-bottom: 2px solid red
}

.sectionThree__item span{
  position: absolute;
  margin: 0 20px;
  right: 10px;
  color: rgb(148, 27, 27);
  font-weight: bold;
}

.sectionFour{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding-bottom: 40px;
  width: 100%;
}

.sectionFour__header{
  display: block;
  font-size: 43px;
  padding: 30px 0;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.sectionFour__Image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 10px 20px;
}

.sectionFour__img{
  width: 100%;
  object-fit: cover;
  transform: scale(.9);
  transition: transform .3s;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.sectionFour__img:hover{
  transform: scale(1);
}

.txtImg{
  width: 50%;
  margin: 5px 10px;
  padding: 10px 20px;
}

.sectionFour__heading{
  text-align: left;
  padding:5px 0;
}

.sectionFour__text{
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 0;
}

.btnImg{
  padding: 15px 30px;
  border: transparent;
  border-radius: 8px;
  background: #000;
  transition: background .3s;
}

.btnImg:hover{
  background: rgb(148, 27, 27);;
}

.btnImg a{
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  background: #000;
}

.footer__text{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0;
  color: #fff;
}

@media (max-width: 768px) {
  .header__img {
    max-height: 30px;
  }

  .header__input {
    width: 150px;
  }

  .sectionOne__img {
    background-image: url("./img/headerMini.jpg");
  }
}

@media (max-width: 576px) {
  .header__input {
    width: 200px;
  }
}
